footer.mt-8
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center
                .col-6.col-md-4
                    nav.nav.justify-content-center.align-items-center
                        a(href="https://twitter.com/twitter?lang=es", class="nav-link", target="_blank") 
                            i.fab.fa-twitter
                        a(href="https://www.youtube.com/?hl=es&gl=ES", class="nav-link" target="_blank") 
                            i.fab.fa-youtube
                        a(href="https://es-es.facebook.com/viajas", class="nav-link" target="_blank")
                            i.fab.fa-facebook
                        a(href="https://www.instagram.com/premieregoldtravel/?hl=es", class="nav-link" target="_blank")
                            i.fab.fa-instagram
                .col-6.col-md-8
                    p.copyright.text-center.text-md-right.align-middle
                        | Todos los derechos reservados. &mdash; &copy; 
                        span= fechaActual