extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/assets/img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid shadow" width="")
            .col-md-7
                h1= headingH1
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas iure expedita sint voluptatum molestiae modi dignissimos a tenetur? Minus deserunt ratione necessitatibus aliquam nesciunt eaque officiis assumenda vel totam.
                p Molestias dolor numquam, odit accusantium blanditiis dignissimos labore aliquam, et nihil nesciunt soluta. Nisi, voluptates excepturi minima nihil natus praesentium provident laboriosam? Architecto, molestiae fuga dicta repellendus laudantium aliquam labore eos assumenda? Nulla, illum vero? Consectetur adipisicing elit. Animi vel officia minima ad reprehenderit possimus sunt natus consectetur voluptates.
                p Ratione modi doloribus id perferendis iste ut sit repellat assumenda sed beatae voluptatem voluptatum consequatur molestiae voluptas, ipsam quia odio voluptates. Enim provident voluptate harum error.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4  
                    img(src="/assets/img/icono_seguridad.svg", alt="Icono de Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea earum asperiores, adipisci mollitia, minima debitis, similique non voluptas qui et ut. Impedit esse nostrum quia, harum.
                .col-md-4  
                    img(src="/assets/img/icono_destinos.svg", alt="Icono de Destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p In blanditiis esse aliquid necessitatibus dolorum reiciendis fuga, adipisci ipsam itaque nam, provident optio inventore atque nemo sed vel voluptatibus nesciunt recusandae quo delectus!
                .col-md-4  
                    img(src="/assets/img/icono_precios.svg", alt="Icono de Precios" class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio 
                    p Fuga, necessitatibus voluptas assumenda placeat praesentium iure molestiae totam id unde perferendis eligendi suscipit nemo incidunt expedita sunt veritatis eveniet sit nam.
